################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FireRegister/FireRegister/bin
/FireRegister/FireRegister/obj
/FireRegister/FireRegister.Android/bin
/FireRegister/FireRegister.Android/obj
/FireRegister/FireRegister.iOS/bin/iPhone/Release
/FireRegister/FireRegister.iOS/obj/iPhone/Debug
/FireRegister/FireRegister.iOS/obj/iPhone/Release
/FireRegister/FireRegister.iOS/obj
/FireRegister/FireRegister.MobileAppService/bin/Release/netcoreapp2.0
/FireRegister/FireRegister.MobileAppService/obj/Debug/netcoreapp2.0
/FireRegister/FireRegister.MobileAppService/obj/Release/netcoreapp2.0
/FireRegister/FireRegister.MobileAppService/obj
/FireRegister/FireRegister.UWP/bin
/FireRegister/FireRegister.UWP/obj
/FireRegister/FireRegister.iOS/bin/iPhoneSimulator/Debug
/FireRegister/FireRegister.MobileAppService/bin/Debug/netcoreapp2.0
/FireRegister/FireRegister.iOS/bin/iPhone/Debug
